{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container-fluid">

  <!-- Looping through projects   -->
  <div class="row project">
    <div class="col-md-4"></div>
    <!-- displaying projects projects -->
    <div class="col-md-4">
      <h2 class="text-success">{{ project.title }}</h2>
      <h2>{{ project.description}}</h2>
      <!--Display projects project images  -->
      <img src="{{project.project_image.url}}" class="img-thumbnail" alt="Image" onclick="window.open(this.src)">
      <p style="font-style: oblique;">{{project.project_caption}}</p>
      <p>Github: <strong>{{project.repo_link}} </strong>
      </p>
      <P>Live link: <strong>{{project.live_link}}</strong></P>
      <P>Posted on: <strong>{{project.posted_at}}</strong> by <span class="text-success">{{project.user.username}}</span></P>
      {% if project.user.username == current_user.username %}
      <a href="{% url 'delete' project.id %}" class="btn btn-danger">Delete</a>
      {% endif %}

    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}