{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        {% if user.profile.profile_picture.url %}
        <img src="{{user.profile.profile_picture.url}}" alt="{{user.profile_picture.url}}"
          style="height: 20vh; width:20vh; border-radius:50%" class="rounded-circle account-img">
        {% else %}
        <i style="font-size:100px;color:#4888BE" class="fa fa-user" aria-hidden="true"></i>
        {% endif %}

        <p class="">{{user.username}}</p>
        <p class="">{{user.profile.bio}}</p>
        <a href="{% url 'update_profile' %}">
          <button class="btn btn-success">Update Details</button>
        </a>
        <p class="">{{user_projects|length}} posts</p>
      </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}