{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        {% if user.profile.profile_picture.url %}
        <img src="{{user.profile.profile_picture.url}}" alt="{{user.profile_picture.url}}"
          style="height: 20vh; width:20vh; border-radius:50%" class="rounded-circle account-img">
        {% else %}
        <i style="font-size:100px;color:#4888BE" class="fa fa-user" aria-hidden="true"></i>
        {% endif %}

        <p class="">{{user.username}}</p>
        <p class="">{{user.profile.bio}}</p>
        <p class="">{{projects|length}} posts</p>
      </div>
    <div class="col-md-3"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        {% if projects %}
        {% for project in projects %}
        <div class="col-md-3 col-sm-4 project" >
          <div class="open-project">
            <a href="{% url 'project.detail' project.id %}"><img src="{{project.project_image.url}}" alt=""
                class="img-thumbnail project-img"></a>
          </div>
          <div class="details">
            <div class="row">
              <div class="col-md-7">
                <p class="title">{{project.title}}</p>
              </div>
              <div class="col-md-5">
                <p>{{project.posted_on|date}}</p>
              </div>
            </div>
          </div>
          <div class="profile">
            <div class="row">
              <div class="col-md-8">
                <p class="name">By <a class="username" style="margin-top: 5px;" href="{% url 'users_profile' project.user.id %}">{{project.user.username}}</a></p>
              </div>
              <div class="col-md-4">
                {% if project.user.profile.profile_picture.url %}
                <p><a href="{% url 'users_profile' project.user.id %}"><img class="profile_picture"
                  src="{{ project.user.profile.profile_picture.url }}" alt="{{ project.profile.name }}"></a></p>
                  {% else %}
                  <i style="font-size:30px;color:#4888BE" class="fa fa-user" aria-hidden="true"></i>
                  {% endif %}
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}