body {
  font-size: 20px;
}
img {
  width: 100%;
}
.project {
  margin-bottom: 2rem;
  height: 50vh;
}
.profile_photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
}
.link {
  margin: 1rem !important;
}
th {
  background-color: #058F03 !important;
}
.average {
  background-color: #4888BE !important;
}
.user {
  background-color: #4888BE !important;
}
.content {
  background-color: #4888BE !important;
}
.design,.usability {
  background-color: #4888BE !important;
}
.username {
  color: #058F03;
}
nav {
  color: #4888BE !important;
  height: 8vh !important;
  font-size: 25;
  padding-top: 1vh;
}
a {
  color: wheat;
  font-weight: 900;
}
h2,h1 {
  color: #449D44;
}
.img-thumbnail {
  cursor: pointer;
  border-radius: 6px;
}
.gal-item {
  float: left !important;
}
.img-thumbnail:hover {
  opacity: 0.9;
  background-color: #295168;
}
.link:hover {
  color: blue;
  font-weight: 900;
}
.footer {
  color: #449D44 !important;
}
.footer a {
  color: #449D44 !important;
}

@media (max-width: 1000px) {
  nav {
    height: auto !important;
    padding-top: 1vh;
  }
  
}